<!doctype html>
<html lang="en" ng-app="clixplorer">
	<head>
		<title>Clixplorer</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark bg-primary" ng-controller="nav">
			<a class="navbar-brand" href="index.html">Clixplorer</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active">
						<a class="navbar-link" href="{{url}}">{{urlLabel}}</a>
					</li>
				</ul>
				<div class="col-sm-3 col-md-3 my-2 my-lg-0">
					<form class="navbar-form ng-pristine ng-scope ng-invalid ng-invalid-required" ng-submit="processRequest()" name="search_form" role="search">
							<div class="input-group">
									<input type="text" placeholder="Tx Hash, Address, or Block #" name="requestType" ng-model="search" class="form-control searchi ng-pristine ng-invalid ng-invalid-required ng-touched">
									<div class="input-group-btn">
											<button class="btn btn-primary btn-blue" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
									</div>
							</div>
					</form>
				</div>
			</div>
		</nav>
		<div id="header" class="container pt-5 pb-5 md-5" ng-controller="header">
			<div class="card-group">
				<div class="card text-center card-outline-info mt-2">
					<div class="card-header card-outline-info">
						<span class="fa fa-cube"></span>&nbsp;Best block
					</div>
					<div class="card-body card-block">
						<h4 class="card-title">
							<span>#&nbsp;<a href="block.html?hash={{info.BestBlockNumber}}">{{info.BestBlockNumber}}</a></span>
						</h4>
					</div>
				</div>
				<div class="card text-center card-outline-info mt-2">
					<div class="card-header card-outline-info">
						<span class="fa fa-user-circle-o"></span>&nbsp;Last sealer
					</div>
					<div class="card-body card-block">
						<h4 class="card-title">
							<span><a href="account.html?hash={{info.LastSigner}}">{{info.LastSigner|toAddress}}</a></span>
						</h4>
					</div>
				</div>
			</div>
<!-- card-group -->
		<div class="row" ng-controller="account">
			<div class="col-sm-12 mt-4">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-12">
								<h3 class="text-left mt-3"><span class=
								"fa fa-address-card">&nbsp;</span>{{address|toAddress: 100}}</h3>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table" id="account">
								<tbody>
									<tr>
										<th>Balance</th>
										<td>{{balance|fromWei}}</td>
									</tr>
									<tr>
										<th>Code</th>
										<td>{{code}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" ng-controller="account">
			<div class="col-sm-12 mt-4">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-12">
								<h3 class="text-left mt-3"><span class=
								"fa fa-newspaper-o">&nbsp;</span>Events</h3>
							</div>
						</div>
						<div class="table-responsive">
							<div ng-repeat="log in logs"><hr/>
								<table class="table" id="account">
									<tbody>
										<tr>
											<th>Block</th>
											<td><a href="block.html?hash={{log.blockHash}}">{{log.blockNumber}}</a></td>
										</tr>
										<tr>
											<th>Transaction hash</th>
											<td><a href="tx.html?hash={{log.transactionHash}}">{{log.transactionHash}}</a></td>
										</tr>
										<tr>
											<th>Topics</th>
											<td>{{log.topics}}</td>
										</tr>
										<tr>
											<th>Data</th>
											<td>{{log.data}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<!-- Bundle everything together -->
		<script src="js/bundle.js"></script>
	</body>
</html>
