<!doctype html>
<html lang="en" ng-app="clixplorer">
	<head>
		<title>Clixplorer</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark bg-primary" ng-controller="nav">
			<a class="navbar-brand" href="index.html">Clixplorer</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active">
						<a class="navbar-link" href="{{url}}">{{urlLabel}}</a>
					</li>
				</ul>
				<div class="col-sm-3 col-md-3 my-2 my-lg-0">
					<form class="navbar-form ng-pristine ng-scope ng-invalid ng-invalid-required" ng-submit="processRequest()" name="search_form" role="search">
							<div class="input-group">
									<input type="text" placeholder="Tx Hash, Address, or Block #" name="requestType" ng-model="search" class="form-control searchi ng-pristine ng-invalid ng-invalid-required ng-touched">
									<div class="input-group-btn">
											<button class="btn btn-primary btn-blue" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
									</div>
							</div>
					</form>
				</div>
			</div>
		</nav>
		<div id="header" class="container pt-5 pb-5 md-5" ng-controller="header">
			<div class="card-group">
				<div class="card text-center card-outline-info mt-2">
					<div class="card-header card-outline-info">
						<span class="fa fa-cube"></span>&nbsp;Best block
					</div>
					<div class="card-body card-block">
						<h4 class="card-title">
						  <span>#&nbsp;<a href="block.html?hash={{info.BestBlockNumber}}">{{info.BestBlockNumber}}</a></span>
						</h4>
					</div>
				</div>
				<div class="card text-center card-outline-info mt-2">
					<div class="card-header card-outline-info">
						<span class="fa fa-user-circle-o"></span>&nbsp;Last sealer
					</div>
					<div class="card-body card-block">
						<h4 class="card-title">
						  <span><a href="account.html?hash={{info.LastSigner}}">{{info.LastSigner|toAddress}}</a></span>
						</h4>
					</div>
				</div>
			</div>

<!-- card-group -->
			<div class="row" ng-controller="main">
				<div class="col-sm-6 mt-4">
					<div class="card">
						<div class="card-body">
							<h3>
								<span class="fa fa-cubes"></span>&nbsp;Transactions
							</h3>
							<div class="pr-1" style="height:500px;overflow-y:scroll;">
								<!-- LOOP HERE -->
								<div ng-repeat="tx in txs">
									<hr/>
									<div class="media">
										<div class="media-body">
											<h5 class="mt-0">Tx&nbsp;
												<a href="tx.html?hash={{ tx.hash }}">{{ tx.hash | toHash }}</a>
												<small class="float-right">{{ tx.time }}</small>
											</h5>
											<p>
											<a class="mr-3" href="account.html?hash={{ tx.from }}">{{ tx.from | toAddress }}</a>
												<span class="fa fa-arrow-right float-center"></span>
												<a class="ml-3" href="account.html?hash={{ tx.to }}">{{ tx.to | toAddress }}</a>
												<br><span class="badge badge-success float-right"> {{ tx.value|fromWei }}</span></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 mt-4">
					<div class="card">
						<div class="card-body">
							<h3>
								<span class="fa fa-cubes"></span>&nbsp;Blocks
							</h3>
							<div class="pr-1" style="height:500px;overflow-y:scroll;">
								<!-- LOOP HERE -->
								<div ng-repeat="block in blocks">
									<hr/>
									<div class="media">
										<div class="media-body">
											<h5 class="mt-0">Block&nbsp;
												<a href="block.html?hash={{ block.Hash }}">{{ block.Number }}</a>
												<small class="float-right">{{ block.Time*1000 | date:'yyyy-MM-dd HH:mm:ss Z' }}</small>
											</h5>
											<p>Sealed by&nbsp;
												<a href="account.html?hash={{ block.Signer }}">{{ block.Signer | toAddress }}</a>
												<br/>Includes {{ block.TransactionsNumber }} Transactions.
												<span class="badge badge-success float-right"> {{ block.TotalValue|fromWei }}</span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Bundle everything together -->
		<script src="js/bundle.js"></script>
	</body>
</html>
